*.pt filter=lfs diff=lfs merge=lfs -text
models/**/*.pt filter=lfs diff=lfs merge=lfs -text
~/Documents/mothra/Layer[[:space:]]2[[:space:]]files[[:space:]]with[[:space:]]images/*.zip filter=lfs diff=lfs merge=lfs -text
