apiVersion: v1
kind: Secret
metadata:
  name: mothra-secrets
  namespace: mothra
type: Opaque
stringData:
  MOTHRA_SECRET: "REPLACE_WITH_openssl_rand_hex_32"
  DATABASE_URL: "postgresql://mothra:CHANGE_ME@mothra-postgres.postgres.svc.cluster.local:5432/mothra"
